{% extends 'base.html.twig' %}

{% block body %}

	<article>
		<h2>Titre de l'article</h2>
		<div class="metadata">Ecrit le 05/10/2020 dans la catégorie :</div>
		<div class="content">
			<img src="http://placehold.it/350x150 " alt="">
			<p>lalalalalala</p>
			<p>lalalalalala</p>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc nunc, condimentum non lectus ut, iaculis consequat velit. Proin elit nulla, fermentum lobortis molestie pretium, volutpat sed velit. Integer quis purus faucibus, pharetra urna nec, rutrum odio. Etiam ut consequat erat, non faucibus dolor. In et posuere ligula. Quisque hendrerit mi sed aliquam dapibus. Etiam posuere egestas purus ac scelerisque. Nulla dapibus lorem mi, in bibendum orci consectetur in. Aenean mollis orci tristique tellus consectetur, at congue metus semper. <p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc nunc, condimentum non lectus ut, iaculis consequat velit. Proin elit nulla, fermentum lobortis molestie pretium, volutpat sed velit. Integer quis purus faucibus, pharetra urna nec, rutrum odio. Etiam ut consequat erat, non faucibus dolor. In et posuere ligula. Quisque hendrerit mi sed aliquam dapibus. Etiam posuere egestas purus ac scelerisque. Nulla dapibus lorem mi, in bibendum orci consectetur in. Aenean mollis orci tristique tellus consectetur, at congue metus semper. <p>
		</div>
	</article>

{% endblock %}